apiVersion: monitoring.my.domain/v1
kind: AlertRule
metadata:
  labels:
    app.kubernetes.io/name: k8s-alert-rule-operator
    app.kubernetes.io/managed-by: kustomize
  name: alertrule-sample
spec:
  targetDeployment: my-app
  rules:
    - name: HighErrorRate
      condition: error_rate > 5%
      duration: 5m
      severity: critical
      notifications:
        - discord: "#alerts"
          email: "test@example.com"
    - name: HighMemoryUsage
      condition: memory_usage > 80%
      duration: 10m
      severity: warning
      notifications:
        - email: "test@example.com"
